# VSCode configuration
.vscode/

# Stupid MacOS files
.DS_Store

# Dependencies
node_modules/

# Environment specific
.env
.env.test
env/

# Cache files
.cache/

# Configuration files
config/
!config/index.js
.magistercalendarrc.*

# Logs
*.log
