<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title>Maak een account</title>
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <section id="test" style="width: 100%; height: 5000px">Hallo, <%= name %></section>
        <script src="/static/js/index.js"></script>
    </body>
</html>
