
body {
    background-color: #f6f6f6;
}

div.error-body {
    position: absolute;
    top: 115px; left: 180px;
    width: 330px;
}

div.error-body h1 {
    font-size: 38px;
    font-weight: 300;
    line-height: 50px;
}

div.error-body p {
    color: #666;
}
